{% extends "base-template.html" %}


{% block student_list %}

<div class="student_block">

	<!-- student = tuple(id, first name, last name) -->
	{% for student in students %}

		<div class="student">
			<a href="/schedule?student={{ student[0] }}">{{ student[2] }} {{ student[1][0] }}.</a>
		</div>

	{% endfor %}

</div>

{% endblock %}


{% block schedule %}

<div class="schedule_block">

	<form class="schedule_form" action="/update?student={{ student_id }}" method="post">
	
		<div style="background: #666; float: left; width: 100%; height: 10%">
			<button type="submit">Подтвердить</button>
		</div>
	
		<div style="background: #666; float: left; width: 100%; height: 90%">
			<div style="float: left; width: 10%">
	
				<div style="float: left; height: 20%; width: 100%;">Время</div>
	
				<!-- times = dict(class_time_id: class_time) -->
				{% for time in times.keys() %}
	
					<div style="float: left; height: 20%; width: 100%;">{{ times[time] }}</div>
	
				{% endfor %}
			</div>
	
			<!-- weekdays = dict(weekday_id: weekday_name) -->
			{% for column in weekdays.keys() %}
	
			<div style="float: left; width: 18%; border: 0px solid black;">
				<div>{{ weekdays[column] }}</div>
	
				<!-- times = dict(class_time_id: class_time) -->
				{% for row in times.keys() %}
	
					<div style="border: 0px solid black;">
						<select autocomplete="off" name="{{ column }}-{{ row }}">
		
							<!-- classes = dict(class_name_id: class_name) -->
							{% for class in classes.keys() %}
	
								<!-- Формула для полчения конкретного индекса для названия урока -->
								<!-- times|length - длина списка с информацией о временах уроков -->
								<!-- (column - 1) - номер дня недели (пн - 0, вт - 1 и т.д.)     -->
								<!-- row - номер временного периода урока                        -->
								<!-- -1 в конце формулы, т.к. нам нужен индекс                   -->
								<!-- [2] - берем значение по индексу из кортежа вида ->          -->
								<!-- -> (weekday_id, class_time_id, class_name_id)               -->
								{% if class == schedule[(column - 1) * times|length + row - 1][2] %}
			
									<option value="{{ class }}" selected>{{ classes[class] }}</option>
			
								{% else %}
			
									<option value="{{ class }}">{{ classes[class] }}</option>
			
								{% endif %}
		
							{% endfor %}
	
						</select>
					</div>
	
				{% endfor %}
	
			</div>
	
			{% endfor %}
	
		</div>
	
	</form>

</div>

{% endblock %}