{% extends "base-template.html" %}

{% block student_list %}
<!-- <div style="background: #666; float: left; width: 100%;">STUDENT LIST test</div> -->

<div class="student_block">
	<!-- student == tuple(id, first name, last name) -->
	{% for student in students %}
	<div class="student">
		<a href="/schedule?student={{ student[0] }}">{{ student[2] }} {{ student[1][0] }}.</a>
	</div>
	{% endfor %}
</div>

{% endblock %}

{% block schedule %}
<div style="background: #666; float: left; width: 100%; height: 100%">Test</div>
{% endblock %}